.git
.gitignore
.github
.venv
__pycache__
*.py[cod]
*.egg-info
build
dist

web
node_modules

.env
.env.*
!.env.example

.firebase
firebase-debug.log
.firebaserc
firebase.json

serviceAccount.json
**/serviceAccount*.json
config/import.json

*.xlsx
!Master_List_Format_1500_Records.xlsx

.DS_Store
.vscode
.idea
